<br />
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Welcome to Next-Stop MARTA</h1>
		<p>This site is designed to help you keep track of the next stop on your MARTA bus.</p>
		<br />
		<p></p>

		<h3>Enter your four-digit bus number here:</h3>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4"
					<div class="form-group">
						<%= form_tag('nextstop') do %>
							<%= text_field_tag :busnum, nil, placeholder: "Bus Number", autofocus: true, class: "form-control input-lg" %><br />
							<%= submit_tag "Next Stop!", class: "btn btn-success btn-lg"  %>
						<% end %>
					</br>
					</div>
				</div>
			</div>		
		</div>
		<br />
	</div>
</div>