<br />
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Next Stop!</h1>
		<p>This is the area where you will see the next stop.</p>
		<div><%= @message %></div>
		<div><%= @nextstop %></div>
		<br />

	</div>
</div>
<br />
