<!DOCTYPE html>
<html>
<head>
  <title>Next-Stop MARTA</title>
  <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Rancho" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Gudea" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
	<%= yield %>
	<br />


	<nav class="navbar navbar-default navbar-fixed-bottom footer" role="navigation">
  <div class="container">
    <div class="footer-text">Created by: Doug Graise<a href="http://duckduckgrayduck.files.wordpress.com/2011/04/donnie_darko-frank.jpg" target="_blank" >r</a></div>
  </div>
</nav>

</div>

</body>
</html>
